<div class="nav">
    <div class="row">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/animals" class="nav-link">Animals</a>
            </li>
            <li class="nav-item">
                <a href="/complexes" class="nav-link">Complexes</a>
            </li>
            <li class="nav-item">
                <a href="/request" class="nav-link">Requests</a>
            </li>
        </ul>
    </div>
</div>